body {
  font-size: 10px;
  background-image: url("./Images/indylaura.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

#gameboard {
  width: 31.2em;
  height: 31.2em;
  margin: 0 auto;
}

.cell {
  border: red solid 1px;
  width: 10em;
  height: 10em;
  float: left;
}


.row {
  box-sizing: border-box;

}

.xImgClass {
  background-image: url("./Images/whip.jpeg");
  background-size: 10em 10em;
}

.yImgClass {
  background-image: url("./Images/TRlogo.jpg");
  background-size: 10em 10em;
}

.holder {
  text-align: center;
}

.links {
  text-align: left;
  margin-top: 2em;
  margin-right: 4em;
}

li {
  font-size: 3em;
  color: black;
}

a:visited {
  color: black;
}
